@import 'fonts.css';

html {
	--gui-bg-body: #F3F3F3;
	--gui-bg-page: #FFF;
	--page-width: 210mm; 
	--page-height: 297mm;

	--width-main-text: 125mm;
	--width-side-text: 55mm;
	--width-indent:2em;

	--font-size-XL: 7em;
	--font-size-L: 5em;
	--font-size-ML: 3em;
	--font-size-M: 1em;
	--font-size-S: 0.75em;
	--line-height-M:1.15em;
	--line-height-S:0.9em;

	--padding-def:10mm;
	--margin:0.5rem;
	

}


/* ------------ Text Elements ------------ */

/* Typo General */

h1{
	font-family: 'Chaumont';
	font-weight:normal;
	font-size: var(--font-size-XL);
	line-height: var(--line-height-S);
	margin: 0;
}

h2{
	font-family: 'CenturySchL';
	font-weight:normal;
	font-size: var(--font-size-L);
	line-height: var(--line-height-S);
	margin: 0;
	padding-bottom: 20mm;
}

p{
	font-family: 'CenturySchL';
	font-weight:normal;
	font-size: var(--font-size-M);
	line-height: var(--line-height-M);

	text-align: left-align;
	hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	word-spacing: -.1em;
	text-justify: inter-character;
	text-align-last: left;

    width: var(--width-main-text);
	margin: 0;	
}

p + p {
	text-indent: var(--width-indent);
	padding-bottom: var(--line-height-M);
}


/* Specific Styles */

em{
	font-style: italic;
	font-family: 'CenturySchL';
}

sub{
	font-family: 'CenturySchL';
	font-weight:normal;
	font-size: var(--font-size-S);
	vertical-align: baseline;
}

blockquote{
	margin-left:var(--width-indent);
}

blockquote p{
	width: calc(var(--width-main-text) - var(--width-indent));

}



/* ------------ Sidenotes ------------ */

.appelnote{
	font-size: 50%;
	vertical-align: top;
}

.sidenote {
	font-family: 'CenturySchL';
	font-weight:normal;
	font-size: var(--font-size-S);
	line-height: var(--line-height-M);

    display: block;
    position: absolute;
	padding-top:calc(var(--font-size-M) - var(--font-size-S));
	padding-bottom: var(--line-height-M);
}

.area-sidenote-right {
    width: var(--width-side-text); 
	top: var(--padding-def);
	right: var(--padding-def);  
    position:absolute;
}

.sidenote-first{
	top:calc(var(--line-height-S) * 36.25);
}

.sidenote-first-02{
	top:calc(var(--line-height-S) * 35);
}

body { counter-reset: appelnote sidenote; }

.appelnote { counter-increment: appelnote; }
.appelnote:before { content: counter(appelnote); }

.sidenote { counter-increment: sidenote; }
.sidenote:before { content: counter(sidenote) "	"; }

body { counter-reset: appelCaption textCaption; }

.appelCaption { counter-increment: imgCaption; }
.appelCaption:before { content: counter(imgCaption)}

.textCaption { counter-increment: textCaption; }
.textCaption:before { content: counter(textCaption) }


/* ------------ Images ------------ */

figure{
	width: calc(var(--width-side-text) - var(--margin));
	display:inline-grid;
	vertical-align: top; 
	margin:0; padding:0; 
	margin-right:calc(var(--margin) * 4);
	padding-top:calc(var(--margin) * 2);
	padding-bottom:calc(var(--margin) * 2);
}

img{
	width: calc(var(--width-side-text) - var(--margin));
	font-weight: normal;
	border: thin solid black;
}

figcaption{
	width:calc(var(--width-side-text) - var(--margin));
	font-size: var(--font-size-S);
	background-color:white;
}

figcaption p{
	width: calc(var(--width-side-text) - var(--margin));
	padding-top:var(--margin);
}

.landscape img{
	width: var(--width-main-text);
}

.landscape figcaption p{
	width: var(--width-main-text);
}

/* ------------ Title Page ------------ */
.title-page p{
	position:absolute;
	bottom:0;
}

/* ------------ Glossary ------------ */

.definition h2{
	font-family: 'chaumont';
	font-size:var(--font-size-ML);
	padding:0;margin:0;
}

.definition p{
	padding-top: calc(var(--margin) * 1);
	padding-bottom: calc(var(--margin) * 3);
}

/* ------------ References ------------ */

.references p{
	font-size:var(--font-size-S);
}

.references a{
	color:black;
    text-decoration:none;

}

/* ------------ Paged.js Elements ------------ */

/* Page number */

.pagedjs_margin-right{
	line-height: 1.1em;
	font-size: 1em;
	font-family: 'CenturySchL';
}




@media print {

	@page {
		size: 210mm 297mm;
		margin: 10mm;
		padding:0mm;
	
		@bottom-right{
			content: counter(page);
		  }	
	} 


	#toc li a::before {
		content: target-counter(attr(href), page);
		float: left;
		text-indent:-5mm; 
		margin-right:5mm;
		font-family:'Chaumont';
		font-size: 2em;
	  }

	  #list-toc-generated {
		list-style: none;
	  }
	  
	  #list-toc-generated .toc-element {
		break-inside: avoid;
		
	  } 

	  #list-toc-generated a {
		color:black;
		text-decoration:none;
	  } 

	  #list-toc-generated a h1{
		font-size: 2em;
	  } 

	  #list-toc-generated a h2{
		font-size: 2em;
		padding-bottom: 5mm;
	  } 

	  #list-toc-generated{
		position:absolute;
		bottom:0;
	  }
	
	.toc-element:nth-of-type(6) {
		padding-top:20mm;
	  }
	
	  .toc-element:nth-of-type(1) {
		padding-top:20mm;
	  }

	  span.sidenote:before{
		margin-right: 2em;
	  }
	  
	.chapter{
		break-before: page;
	}

	p{
		widows: 3;
		orphans:3;
		border:solid white thin;
	}
  }

